In [1]:
import os
import numpy as np
import pandas as pd

In [9]:
ROOT = os.getcwd()
DATA_FOLDER = '/data'
TRAIN_FILE = '/train.csv'
TEST_FILE = '/test.csv'
TRAIN_PATH = os.getcwd() + DATA_FOLDER + TRAIN_FILE
TEST_PATH = os.getcwd() + DATA_FOLDER + TEST_FILE

In [88]:
train = pd.read_csv(TRAIN_PATH)
test = pd.read_csv(TEST_PATH)

In [66]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [92]:
########################################################
# clean up data, handle nan cells                      #
########################################################
# 1. NaN in Age
# use male and female age averages to fill the nan cells
maleAgeAvg = np.nanmean(train['Age'])
femaleAgeAvg = np.nanmean(train['Age'])
# ## method 1: use np.isnan to find nan cells
# train.loc[(train['Sex'] == 'male') & np.isnan(train['Age']), 'Age'] = maleAgeAvg
# train.loc[(train['Sex'] == 'female') & np.isnan(train['Age']), 'Age'] = femaleAgeAvg
## method 2: use df.fillna() to fill in nan cells
train.loc[train['Sex'] == 'male', 'Age'] = train['Age'][train['Sex'] == 'male'].fillna(maleAgeAvg)
train.loc[train['Sex'] == 'female', 'Age'] = train['Age'][train['Sex'] == 'female'].fillna(femaleAgeAvgeAvg)

In [98]:
# 2. NaN in Cabin, not a clean way to how to handle, leave it be

In [100]:
########################################################
# Inspect data columns for potential features          #
########################################################
# 1. columns that have nothing to do at the moment
# Pclass, Parch, Ticket, Cabin
# 2. Name: potential features from name are: length, title (status or education level), Sex (potentially see whether there is mistakes in the Sex column)
# 2.1 Name length
train['Name_Length'] = train['Name'].apply(len)

In [101]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_Length
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,23
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,51
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,22
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,44
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,24